.navbarContainer ul{
    min-height: 100vh;
    padding: 10px;
    max-width: 75px;
    position: fixed;
    z-index: 22;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(229, 52, 52);
}

.navbarContainer img{
    width: auto;
    height: 38px;
}

@media (max-width: 767px){
    .navbarContainer ul{

    }
}