.navbarContainer ul{
    min-height: 100vh;
    width: 75px;
    max-width: 75px;
    position: fixed;
    z-index: 22;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}

.navbarContainer img{
    width: auto;
    height: 38px;
}