#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/* Style for containers */
#welcomepg {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.right-container {
  max-width: min-content;
}
.left-container,
.right-container {
  width: 50%;
}
.left-container {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgcard {
  width: 338px;
  height: min-content;
  flex-shrink: 0;
  padding: 3em;
  border: 2px solid #fe53bb;
  border-radius: 50%;
  overflow: hidden;
}

button {
  border-radius: 20px;
  width: 10em;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  border: 3px solid #fe53bb;
  background: rgba(255, 255, 255, 0.15);
  background-blend-mode: overlay;
  backdrop-filter: blur(20px);
}
button:hover{
  background-color: aqua;
}

@media only screen and (max-width: 768px){
  .left-container,
.right-container {
  width: 100%;
}
}