/* Meyer's Reset */
body,
h1,
h2,
h3,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ol,
ul,
#root {
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

li {
  list-style: none;
}
/* end og meyers reset */

body {
  background-color: rgb(141, 116, 116);
}
.moviePage {
  display: grid;
  grid-template-columns: 80px auto;
  grid-template-rows: 80px auto;
  margin: 0.31em;
  max-height: 100vh;
}
.navbarContainer {
  background-color: antiquewhite;
  grid-row: 1/3;
  grid-column: 1/2;
  position: sticky;
  top: 0px;
  display: flex;
  place-items: center;
}
.navbarContainer ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
img {
  width: 100%;
  flex: auto;
  height: auto;
}
.searchBar {
  grid-row: 1/2;
  grid-column: 2/3;
  position: sticky;
  top: 0px;
}

#search {
  height: 80px;
  width: 100%;
  text-align: center;
}

.immersePage {
  display: flex;
  flex-flow: column nowrap;
}

.movieSlideContainer {
  display: flex;
  flex-flow: column nowrap;
  flex: auto;
}
.movieSlide {
  display: flex;
  flex-flow: row nowrap;
  flex: auto;
  min-width: 100%;
}
