:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* Styles for root and elements */

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: aliceblue;
  background-color: #1a1a1a;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1em;
}
p{
  stroke-width: 0.006rem;
}
#guest{
  text-decoration: underline;
  cursor: pointer;
}
#guest:hover{
  color: aqua;
}
